<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("bootstrap") %> 
    <title><%= data.title %></title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1"><%= data.title %></h1>
        <div class="text-muted mb-2">
            <%= data.date.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-primary">
            All Articles
        </a>
        <a href="/articles/edit/<%=data.id%>" class="btn btn-success">
            Edit
        </a>
        <div>
            <%-data.sanitizedHTML%>
        </div>
    </div>
</body>
</html>